ion-content {
    --background: #1e1e1e; /* Fondo oscuro */
  }
  
  
  ion-label {
    font-size: 16px;
    color: #000000; /* Texto negro para mejor visibilidad */
  }
  
  ion-button {
    --border-radius: 6px;
  }
  
  ion-icon {
    font-size: 20px;
  }
  