/* Fondo de la página Home */
.home-background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centrado vertical */
  background: #f0f0f5; /* Color de fondo claro */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  gap: 1rem; /* Espacio entre los botones */
}

/* Botones personalizados */
.custom-button {
  --background: #4e54c8;
  --background-hover: #3e44a8;
  --border-radius: 0.5rem;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  max-width: 300px;
  height: 50px;
}
ion-content {
  --background: #1e1e1e; /* Fondo oscuro */
}

.home-grid {
  height: 25%; /* Ocupa todo el contenido */
}

ion-row {
  height: 100%;
}
